body {
    font-family: sans-serif;
}

header {
    /* height: 35rem; */
}

header, nav, .nav-container {
    width: 100%;
}

.nav-container {
    height: 3.5em;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
}

button {
    color: white;
    background-color: rgb(0, 97, 255);
    border: none;
}

.nav-sec nav .right-side button {
    width: 4em;
    height: 2em;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    padding-left: 2em;
}

#jumbo {
    width: 100%;
    /* height: ; */
    background-color: rgb(180, 208, 231);
}

.titolo {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 2.2em;
}

.sec-container {
    background-color: rosybrown;
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
    /* padding-top: 3rem; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.sec-container .text-img {
    /* height: 100%; */
    width: 90%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-size: smaller;
    gap: 1em;
}

.sec-container .text-img .testo {
    /* height: 100%; */
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    /* justify-content: stretch; */
}

/* .sec-container .text-img .testo .freccia-extra {
    position: absolute;
    bottom: 0;
} */

.sec-container .text-img .testo button {
    height: 2em;
    width: 14em;
}

.sec-container .text-img .testo .fa-arrow-down {
    font-weight: bold;
    font-size: 2.2em;
}

.img-cont {
    height: 80%;
    width: 50%;
    position: relative;
}

.img-cont img {
    width: 100%;
    height: 80%;
    /* position: absolute;
    top: 0; */
}

main {
    width: 100%;
}

.table-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tabelle {
    width: 80%;
    margin: auto;
}

.tabelle .fila {
    display: flex;
    gap: 2rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid 1px;
}

.head-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fine-centro {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.centro-tab ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.end-tab ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tab-4 {

}

.partner-sec {
    width: 100%;
}

.part-cont {
    width: 80%;
    margin: auto;
}

.business {
    width: 80%;
    margin: auto;
}

.scopri {
    width: 80%;
    margin: auto;
}

.quadretti {
    width: 100vw;
    height: 95vh;
    background-color: lightblue;
}

.faq {
    width: 80%;
    margin: auto;
}

footer {
    width: 100%;
    height: 55vh;
    background-color: black;
}

.riferimenti {
    width: 85%;
    padding: auto;
    color: white;
}

.refer-list {
    display: flex;
}