body {
    font-family: sans-serif;
}

header {
    /* height: 35rem; */
}

header, nav, .nav-container {
    width: 100%;
}

.nav-container {
    height: 3.5em;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
}

button {
    color: white;
    background-color: rgb(0, 97, 255);
    border: none;
}

.nav-sec nav .right-side button {
    width: 4em;
    height: 2em;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    padding-left: 2em;
}

#jumbo {
    width: 100%;
    /* height: ; */
    background-color: rgb(180, 208, 231);
}

.titolo {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 2.2em;
}

.sec-container {
    /* background-color: rosybrown; */
    /* height: 90%; */
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    /* padding-top: 3rem; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.sec-container .text-img {
    /* height: 100%; */
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-size: smaller;
    gap: 4em;
}

.sec-container .text-img .testo {
    /* height: 100%; */
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    /* justify-content: stretch; */
}

/* .sec-container .text-img .testo .freccia-extra {
    position: absolute;
    bottom: 0;
} */

.sec-container .text-img .testo .head-btn {
    /* width: 100rem; */
}

.sec-container .text-img .testo button {
    height: 2em;
    width: 14em;
}

.sec-container .text-img .testo .fa-arrow-down {
    font-weight: bold;
    font-size: 2.2em;
}

.img-cont {
    /* height: 80%; */
    width: 55%;
    /* position: relative; */
    margin-bottom: -4em;
}

.img-cont img {
    width: 100%;
    height: 80%;
    /* position: absolute;
    top: 0; */
}

main {
    width: 100%;
}


.tabelle {
    width: 70%;
    margin: auto;
    padding-top: 5rem;
}

.false-check {
    display: flex;
    gap: 3em;
    padding-top: 2rem;
    font-size: .9em;
}

.checks {
    display: flex;
    align-items: center;
    gap: .3em;
}

.circles {
    height: .8em;
    width: .8em;
    border-radius: 50%;
    /* background-color: blueviolet; */
    border: 1px solid;
}

.blue-circle:hover {
    border: 2px solid rgb(0, 97, 255);
}

.tabelle .table {
    padding-top: 2.3rem;
    font-size: .9em;
}

.tabelle .table .table-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tabelle .table .table-cont .fila {
    display: flex;
    gap: 2rem;
}


.tabelle .table .table-cont .fila .tabs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid 1px;
    /* padding: 0 .5em 0 .5em; */
}

.tabelle .table .table-cont .fila .tabs .target {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-bottom: solid 1px;
}

.tab-4 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem; */
    border: solid 1px;
}


.target {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-bottom: solid 1px;
}

.tabelle .table .table-cont .fila .tabs .corpus-tabula {
    padding: 0 1em 0 1em;
}

/* .tab4 {
    padding-bottom: 10px;
} */

.tab-4 .corpus-tabula {
    display: flex;
    padding: 1.5em 1em 0 1em;
    margin-bottom: 2.5%;
}

.tab-4 .corpus-tabula .tab4-text-cont {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.tab-4 .corpus-tabula .tab4-text-cont .tab4-title {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.tab-4 .corpus-tabula .button-tab4 {
    background-color: rgb(0, 97, 255);
    width: 15em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2.5em;
}

.centro-tab ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

.centro-tab li {
    display: flex;
    gap: .3em;
}

.fine-centro {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fine-centro button {
    /* width: 95%; */
    height: 2.5em;
}

hr {
    width: 25%;
    margin: 2.5em 0 2.5em 0;
}

.end-tab ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
}

.end-tab li {
    display: flex;
    gap: .3em;
}

.end-tab li i {
    color: rgb(0, 97, 255);
    font-weight: bolder;
}
/* .tab-4 {

} */

.partner-sec {
    width: 100%;
}

.partner-sec .part-cont {
    width: 70%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.partner-sec .part-cont {
    display: flex;
    gap: 2em;
}

.partner-sec .part-cont .part-img {
    /* width: 50%;
    height: 20em; */
}

.partner-sec .part-cont .part-img img {
    height: auto;
    width: 30em;
}

.partner-sec .part-cont .part-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    width: 16em;
}

.partner-sec .part-cont .part-text button {
    width: 44%;
    height: 10%;
    background-color: white;
    color: black;
    border: solid 1px black;
}

.partner-sec .part-cont .part-text .part-title {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.business {
    width: 70%;
    margin: auto;
}

.business-title {
    margin-bottom: 3.5%;
}

.business-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.business-cards .card-cont {
    margin-top: .7%;
}

.business-cards .cards-text {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.business-cards .card-cont img {
    width: 10em;
    height: auto;
}

.scopri {
    width: 70%;
    margin: auto;
}

.scopri-cont {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

.quadretti {
    width: 100%;
    height: 95vh;
    background-color: lightblue;
}

.quadretti .cont-quadretti {
    height: 60%;
    display: flex;
}

.centro-quadretti {
    height: 100%;
    width: 33%;
}

.centro-quadretti .centro-cont {
    height: 100%;
    width: 100%;
}

.quadri {
    height: 100%;
    width: 33%;
    height: auto;
}

.quadri .quadri-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.quadro {
    height: calc(100% / 4);
    width: calc(100% / 4);
}

.quadro img {
    height: 100%;
    width: 100%;
    filter: invert(1);
}

.faq {
    width: 80%;
    margin: auto;
}

footer {
    width: 100%;
    height: 55vh;
    background-color: black;
}

.riferimenti {
    width: 80%;
    margin: auto;
    color: white;
}

.refer-list {
    display: flex;
    gap: 5%;
    justify-content: center;
    padding-top: 6%;
    font-size: 14px;
    /* align-items: center; */
}
.lists ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 15%;

}

.refer-cont hr {
    width: 8%;
    margin-left: 9%;
}

.refer-cont .local {
    color: grey;
    margin-left: 8%;
}